@using WebApp.Resources
@model DTO.Author
@{
    ViewBag.Title = Language.Create;
}
<h2>@Language.Create</h2>
<form method="post" action="/Author/Create" class="frm">
    @Html.ValidationSummary(true)
    <p>
        <label>@Language.AuthorNo</label>
        @Html.TextBoxFor(model => model.AuthorNo, new { @class = "txtavg" })    
        @Html.ValidationMessageFor(model => model.AuthorNo)
    </p>
    <p>
        <label>@Language.AuthorName</label>
        @Html.TextBoxFor(model => model.AuthorName, new { @class = "txtlarge" })
		<span class="required">*</span>   
        @Html.ValidationMessageFor(model => model.AuthorName)
    </p>
    <p>
        <label>@Language.Note</label>
        @Html.TextBoxFor(model => model.Note, new { @class = "txtlarge" })    
        @Html.ValidationMessageFor(model => model.Note)
    </p>

	<p>
        <label>&nbsp;</label>
        <input type="submit" value="@Language.Save" class="btn" />
    </p>
</form>
<div>
    @Html.ActionLink(Language.BackToList, "Index")
</div>
