@using WebApp.Resources;
@{
    ViewBag.Title = "Index";
}
<form method="post" action="/Mail/SendMail" enctype="multipart/form-data" class="frm">
    <p>
        <label>@Language.To</label>
        <input type="text" name="To" id="To" value="khachoa2007@gmail.com" class="txtlarge" />
    </p>
    <p>
        <label>@Language.CC</label>
        <input type="text" name="CC" id="CC" class="txtlarge" value="np.thanhthai@gmail.com,khachoa2007@gmail.com,npthanhthai2@yahoo.com.vn" />
    </p>
    <p>
        <label>@Language.BCC</label>
        <input type="text" name="BCC" id="BCC" class="txtlarge" value="np.thanhthai@gmail.com,khachoa2007@gmail.com" />
    </p>
    <p>
        <label>@Language.Subject</label>
        <input type="text" name="Subject" id="Subject" value="Xin chào" class="txtlarge" />
    </p>
    <p>
        <label>@Language.Message:</label>
        <textarea name="Message" rows="5" cols="80">Chào bà con cô bác</textarea>
    </p>
    <p>
        <label>@Language.Attachment:</label>
        <input type="file" name="file" id="file" />
    </p>
    <p>
        <label>&nbsp;</label>
        <input type="submit" value="@Language.SendMail" class="btn" />
    </p>
</form>
