@using WebApp.Resources
@model DTO.UserEnroll
@{
    ViewBag.Title = Language.Create;
}
<h2>@Language.Create</h2>
<form method="post" action="/UserEnroll/Create" class="frm">
    @Html.ValidationSummary(true)
    <p>
        <label>@Language.Course</label>
        @Html.DropDownList("CourseId", String.Empty)
		<span class="required">*</span>
    </p>
    <p>
        <label>@Language.Group</label>
        @Html.DropDownList("GroupId", String.Empty)
		<span class="required">*</span>
    </p>
    <p>
        <label>@Language.Department</label>
        @Html.DropDownList("DepartmentId", String.Empty)
		<span class="required">*</span>
    </p>
    <p>
        <label>@Language.UserNo</label>
        @Html.TextBoxFor(model => model.UserNo, new { @class = "txtdate" })
		<span class="required">*</span>   
        @Html.ValidationMessageFor(model => model.UserNo)
    </p>
    <p>
        <label>@Language.FirstName</label>
        @Html.TextBoxFor(model => model.FirstName, new { @class = "txtlarge" })
		<span class="required">*</span>   
        @Html.ValidationMessageFor(model => model.FirstName)
    </p>
    <p>
        <label>@Language.LastName</label>
        @Html.TextBoxFor(model => model.LastName, new { @class = "txtlarge" })
		<span class="required">*</span>   
        @Html.ValidationMessageFor(model => model.LastName)
    </p>
    <p>
        <label>@Language.Email</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "txtlarge" })
		<span class="required">*</span>   
        @Html.ValidationMessageFor(model => model.Email)
    </p>
    <p>
        <label>@Language.Phone</label>
        @Html.TextBoxFor(model => model.Phone, new { @class = "txtavg" })
		<span class="required">*</span>   
        @Html.ValidationMessageFor(model => model.Phone)
    </p>
    <p>
        <label>@Language.Status</label>
        @Html.DropDownList("StatusId", String.Empty)
		<span class="required">*</span>
    </p>

	<p>
        <label>&nbsp;</label>
        <input type="submit" value="@Language.Save" class="btn" />
    </p>
</form>
<div>
    @Html.ActionLink(Language.BackToList, "Index")
</div>
