@using WebApp.Resources
@model IEnumerable<DTO.CardUser>
@{
    ViewBag.Title = "CardUser";
}
<h2>@Language.ManageCardUser</h2>
<p>
    @Html.ActionLink(Language.CreateNew, "Create")
</p>
<table class="table">
    <tr><th>@Language.CardUserNo</th><th>@Language.UserName</th><th>@Language.Password</th><th>@Language.DueDate</th><th class="colsmall">@Language.Edit</th><th class="colsmall">@Language.Delete</th></tr>
@foreach (var item in Model)
{
    <tr>
		<td>@item.CardUserNo</td>
		<td>@item.UserName</td>
		<td>@item.Password</td>
		<td>@item.DueDate</td>

        <td><a href="/CardUser/Edit/@item.CardUserId"><img src="/Images/Edit.gif" alt="Edit" /></a></td>
        <td><a href="/CardUser/Delete/@item.CardUserId"><img src="/Images/Delete.gif" alt="Delete" /></a></td>
    </tr>
}
</table>
