@using WebApp.Resources
@model DTO.OrderDetail
@{
    ViewBag.Title = Language.Edit;
}
<h2>@Language.Edit</h2>
<form method="post" action="/OrderDetail/Edit" class="frm">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.OrderDetailId)
    <p>
        <label>@Language.Order</label>
        @Html.DropDownList("OrderId", String.Empty)
		<span class="required">*</span>
    </p>
    <p>
        <label>@Language.PurchaseDetail</label>
        @Html.DropDownList("PurchaseDetailId", String.Empty)
		<span class="required">*</span>
    </p>
    <p>
        <label>@Language.Price</label>
        @Html.TextBoxFor(model => model.Price, new { @class = "txtdate" })    
        @Html.ValidationMessageFor(model => model.Price)
    </p>
    <p>
        <label>@Language.Quantity</label>
        @Html.TextBoxFor(model => model.Quantity, new { @class = "txtdate" })
		<span class="required">*</span>   
        @Html.ValidationMessageFor(model => model.Quantity)
    </p>
    <p>
        <label>@Language.Status</label>
        @Html.DropDownList("StatusId", String.Empty)
		<span class="required">*</span>
    </p>

    <p>
        <label>&nbsp;</label>
        <input type="submit" value="@Language.Save" class="btn" />
    </p>
</form>
<div>
    @Html.ActionLink(Language.BackToList, "Index")
</div>
