@using WebApp.Resources
@model DTO.AttachmentType
@{
    ViewBag.Title = Language.Edit;
}
<h2>@Language.Edit</h2>
<form method="post" action="/AttachmentType/Edit" class="frm">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.AttachmentTypeId)
    <p>
        <label>@Language.AttachmentTypeName</label>
        @Html.TextBoxFor(model => model.AttachmentTypeName, new { @class = "txtlarge" })    
        @Html.ValidationMessageFor(model => model.AttachmentTypeName)
    </p>

    <p>
        <label>&nbsp;</label>
        <input type="submit" value="@Language.Save" class="btn" />
    </p>
</form>
<div>
    @Html.ActionLink(Language.BackToList, "Index")
</div>
