@using WebApp.Resources
@model DTO.Language
@{
    ViewBag.Title = Language.Create;
}
<h2>@Language.Create</h2>
<form method="post" action="/Language/Create" class="frm">
    @Html.ValidationSummary(true)
    <p>
        <label>@Language.LanguageName</label>
        @Html.TextBoxFor(model => model.LanguageName, new { @class = "txtlarge" })
		<span class="required">*</span>   
        @Html.ValidationMessageFor(model => model.LanguageName)
    </p>

	<p>
        <label>&nbsp;</label>
        <input type="submit" value="@Language.Save" class="btn" />
    </p>
</form>
<div>
    @Html.ActionLink(Language.BackToList, "Index")
</div>
