@using WebApp.Resources
@model DTO.Topic
@{
    ViewBag.Title = Language.Edit;
}
<h2>@Language.Edit</h2>
<form method="post" action="/Topic/Edit" class="frm">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.TopicId)
    <p>
        <label>@Language.TopicName</label>
        @Html.TextBoxFor(model => model.TopicName, new { @class = "txtlarge" })
		<span class="required">*</span>   
        @Html.ValidationMessageFor(model => model.TopicName)
    </p>
    <p>
        <label>@Language.Note</label>
        @Html.TextBoxFor(model => model.Note, new { @class = "txtlarge" })    
        @Html.ValidationMessageFor(model => model.Note)
    </p>

    <p>
        <label>&nbsp;</label>
        <input type="submit" value="@Language.Save" class="btn" />
    </p>
</form>
<div>
    @Html.ActionLink(Language.BackToList, "Index")
</div>
