@using WebApp.Resources;
<div id="top">
    <ul class="wrapper">
        <li><a href="/Account/LogOff">@Language.LogOff</a></li>
    </ul>
</div>
<div id="banner">
    <h1 class="wrapper">@Language.Title</h1>
    <h3 class="wrapper">@Language.Business</h3>
</div>
<div id="menu">
    <ul class="wrapper">
        <li><a href="/">@Language.Home</a></li>
        <li><a href="/Supplier">@Language.Supplement</a></li>
        <li><a href="/Book">@Language.Cataloging</a></li>
        <li><a href="/Reader">@Language.Reader</a></li>
        <li><a href="/Circulation">@Language.Circulation</a></li>
        <li><a href="/ManageAccount">@Language.ManageAccount</a></li>
    </ul>
</div>