@using WebApp.Resources
@model DTO.Attachment
@{
    ViewBag.Title = Language.Create;
}
<h2>@Language.Create</h2>
<form method="post" action="/Attachment/Create" class="frm">
    @Html.ValidationSummary(true)
    <p>
        <label>@Language.Url</label>
        @Html.TextBoxFor(model => model.Url, new { @class = "txtlarge" })
		<span class="required">*</span>   
        @Html.ValidationMessageFor(model => model.Url)
    </p>
    <p>
        <label>@Language.AttachmentType</label>
        @Html.DropDownList("AttachmentTypeId", String.Empty)
		<span class="required">*</span>
    </p>

	<p>
        <label>&nbsp;</label>
        <input type="submit" value="@Language.Save" class="btn" />
    </p>
</form>
<div>
    @Html.ActionLink(Language.BackToList, "Index")
</div>
