@using WebApp.Resources
@model IEnumerable<DTO.Major>
@{
    ViewBag.Title = "Major";
}
<h2>@Language.ManageMajor</h2>
<p>
    @Html.ActionLink(Language.CreateNew, "Create")
</p>
<table class="table">
    <tr><th>@Language.MajorName</th><th class="colsmall">@Language.Edit</th><th class="colsmall">@Language.Delete</th></tr>
@foreach (var item in Model)
{
    <tr>
		<td>@item.MajorName</td>

        <td><a href="/Major/Edit/@item.MajorId"><img src="/Images/Edit.gif" alt="Edit" /></a></td>
        <td><a href="/Major/Delete/@item.MajorId"><img src="/Images/Delete.gif" alt="Delete" /></a></td>
    </tr>
}
</table>
